@import "spinner";

$options-panel-width: 220px;
$thumbnail-size: 160px;
$spacing: 20px;
$half-spacing: $spacing / 2;

::-webkit-scrollbar {
    height: $half-spacing;
    width: $half-spacing;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #232323;
    -webkit-border-radius: .1em;
}

body {
    margin: 0;
    background-color: #4d4d4d;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;

    th, td {
        text-align: left;
        vertical-align: top;

        &:last-child {
            text-align: right;
        }
    }
}

svg {
    polygon {
        fill: transparent;
        fill-opacity: 0;
        stroke: #f00;
        stroke-width: 1px;
    }

    polygon.hull {
        stroke: yellow;
    }

    text {
        font-size: 1%;
        font-family: Arial, Helvetica, sans-serif;
    }
}

button {
    margin: $spacing 0;
    padding: .4em;

    outline: none;
    background-color: #efefef;
    color: #232323;
    border: 1px solid #c3c3c3;
    border-bottom: 2px solid #b0b0b0;
    border-radius: .3em;

    &:hover {
        background-color: #e1e1e1;
    }

    &.primary {
        color: #fff;
        background-color: #1774ff;
        border-color: #5599ff;
        border-bottom-color: #28508c;

        &:hover {
            background-color: #1572d7;
        }
    }

    &.block {
        width: 100%;
    }
}

.block {
    display: block;
}

.hide {
    display: none !important;
}


#root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10000;
    background-color: #0095ff;

    .overlay-dialog {
        position: relative;
        top: 25vh;
        width: 50vw;
        margin: 0 auto;

        color: #fff;
        font-size: 18px;
        text-align: center;

        .overlay-dialog-buttons {
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            margin-top: $spacing;
        }

        button {
            min-width: 8em;
            margin: $spacing ($half-spacing);
            padding-left: $spacing;
            padding-right: $spacing;
        }
    }

    .sk-cube-grid.sk-cube-grid {
        width: 8vh;
        height: 8vh;
        margin: 46vh auto;

        .sk-cube {
            background-color: #fff;
        }
    }
}

#options {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $options-panel-width - ($spacing * 2);
    padding: 0 $spacing;

    background-color: #1c1c1c;

    .options-panel-group {
        margin: $spacing 0;
        padding-top: $spacing;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
    }

    #options-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        padding: 0 $spacing;

        background-color: #292929;
    }
}

#faces {
    position: absolute;
    top: 0;
    right: $options-panel-width;
    bottom: 0;
    left: 0;

    // scroll bar adds 10px on the right
    padding: $half-spacing 0 $half-spacing $half-spacing;
    overflow-y: scroll;

    background-color: #313131;

    .face-panel-item {
        $padding-left: $thumbnail-size + $spacing;

        position: relative;
        float: left;
        width: calc(50% - #{$padding-left + ($spacing * 2)});
        height: $thumbnail-size - ($spacing * 2);
        margin: $half-spacing;
        padding: $spacing $spacing $spacing $padding-left;
        background-color: #424242;

        .thumbnail {
            width: $thumbnail-size;
            height: $thumbnail-size;

            position: absolute;
            top: 0;
            left: 0;

            background-color: rgb(218, 216, 212);

            svg {
                $svg-spacing: $half-spacing;
                $svg-size: $thumbnail-size - ($svg-spacing);

                width: $svg-size;
                height: $svg-size;
                margin: $svg-spacing/2;
            }
        }
    }
}