@import "spinner";

$options-panel-width: 260px;
$thumbnail-size: 160px;
$spacing: 20px;

body {
    margin: 0;
    background-color: #4d4d4d;
}

svg {
    polygon {
        fill: transparent;
        fill-opacity: 0;
        stroke: #f00;
        stroke-width: 1px;
    }

    text {
        font-size: 1%;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.hide {
    display: none !important;
}


#root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#spinner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10000;
    background-color: #0095ff;

    .sk-cube-grid.sk-cube-grid {
        width: 8vh;
        height: 8vh;
        margin: 46vh auto;

        .sk-cube {
            background-color: #fff;
        }
    }
}

#options {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $options-panel-width;

    background-color: #1c1c1c;
    /* box-shadow: 0 0 4px rgba(0,0,0,0.6); */
}

#faces {
    position: absolute;
    top: 0;
    right: $options-panel-width;
    bottom: 0;
    left: 0;

    padding: $spacing/2;

    background-color: #313131;

    .face-panel-item {
        $padding-left: $thumbnail-size + $spacing;

        height: $thumbnail-size;
        margin: $spacing/2;

        background-color: #424242;
        position: relative;
        padding-left: $padding-left;

        width: calc(50% - #{$padding-left + $spacing});
        float: left;

        .thumbnail {
            width: $thumbnail-size;
            height: $thumbnail-size;

            position: absolute;
            top: 0;
            left: 0;

            background-color: rgb(218, 216, 212);

            svg {
                $svg-spacing: $spacing/2;
                $svg-size: $thumbnail-size - ($svg-spacing);

                width: $svg-size;
                height: $svg-size;
                margin: $svg-spacing/2;
            }
        }
    }
}